.value-container{
  width:300px;
  border: 1px solid black;
  margin: 0 auto;
  text-align: start;
}

.value-container li{  
  list-style-type: none;
}

.value-container .span-value{
  font-size: 20px;
  margin-right: 10px;
  color: red;
}